
@charset "UTF-8";
.main-nav {
    font-size: 17px;
}

.sub-nav {
    font-size: 15px !important;
}

.sub-active {
    color: white !important;
}

.header__manage {
    font-size: 30px;
    margin-left: 20px;
}

/* Navbar */
.navbar {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}

.navbar-item {
    margin: 10px 8px;
    position: relative;
    min-height: 26px;
}

.navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-user-name {
    font-size: 1.8rem;
}

.navbar-user:hover .navbar-user-menu {
    display: block;
}

.navbar-user-menu {
    position: absolute;
    z-index: 2;
    padding: 4px 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: white;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.navbar-user-menu:before {
    content: "";
    border-width: 17px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 0px;
    top: -26px;
    z-index: -1;
}

.navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-user-item a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    padding: 6px 16px;
    display: block;
}

.navbar-user-item a:hover {
    color: gray;
    font-weight: 480;
}

.navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.navbar-item:hover,
.navbar-icon-link:hover,
.navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.box{
    margin-bottom: 0; 
}
/* Nav */
.nav__icon{
    margin-right: 4px;
}

/* Main content */

.content-wrapper{
    background-color: #f5f5f5;  
}
.main__content {
    width: 100%;
}

.search-box {
    display: flex;
    justify-content: center;
}

.search {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.search__input {
    height: 40px;
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    background-color: #fff;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    border: 1.5px solid #dddddd;
    width: 100%;
    transition: all 0.2s;
    margin-right: -6.25rem;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: gray;
}

.search__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search__button {
    display: block;
    height: 30px;
    width: 60px;
    margin-right: 20px;
    color: white;
    transition: all 0.2s;
    border: none;
    border-radius: 6rem;
    background-color: #f35757;
}

.search__button:active {
  
  transform: translateY(0.2rem);
}

.search__input:focus {
    outline: none;
}

.search__icon {
    font-size: 1.6rem;
    width: 2rem;
}

.content {
    margin-top: 40px;
    margin-left: 40px;
}
.payment__detail {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.payment__detail label {
    width: 130px;
}

.payment__input {
    display: block;
    margin-left: 10px;
    width: 220px;
}

.payment__input:focus {
    outline: none;
}

/* Button */

.table {
    margin-top: 30px;

}

.table tr:nth-child(1) {
    background-color: #6ab7ed;
}

.table th,
.table td {
    padding: 10px 40px;
    border: 1px solid #ccc;
}

.order__detail {
    width: 90%;
    margin-top: 50px;
}

.order__table {
    width: 100%;
    font-size: 1.6rem;
    background-color: white;
}

.order__table td,
.order__table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.order__table th {
    padding: 12px 0;
    text-align: left;
    background-color: #4897ff;
    color: white;
    text-align: center;
}

.quantity {
    margin-left: 14px;
}





.col-size {
    width: 100px;
}