@charset "ISO-8859-1";

.cl {
	display:inline-block;
	height: 40px;
	min-width: 102px;
	padding-left: 25px;
	padding-right: 25px;
	cursor: pointer;
	border: solid 1px #ebebeb;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	background: #ffffff;
	border-radius: 3px;
	margin: 0;	
	margin-left: -1px;
	color:#fff;
}
